{% extends 'base.html.twig' %}

{% block title %}Todo List | Se connecter{% endblock %}

{% block body %}

{% if error %}
    <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security')  }}</div>
{% endif %}

<div class="container py-4">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="h2">Se connecter</h1>
        <form class="col-11 col-md-8 col-lg-4 my-3" method="post" action="{{ path('app_login') }}">
            <div class="form-group mb-3">
                <label for="username">Email</label>
                <input type="text" id="username" name="_username" class="form-control" required />
            </div>
            <div class="form-group mb-4">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password" class="form-control" required />
            </div>
            <p class="text-center pt-3">
                <button type="submit" class="btn btn-light rounded-pill px-3 py-2 bg-notDone-title">Se connecter</button>
            </p>
        </form>
    </div>
</div>

{% endblock %}
