{% extends 'base.html.twig' %}

{% block title %}
  Todo List | Accueil
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="mb-5">Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>

    <div class="d-flex flex-column justify-content-center">
      <p class="text-center"><a href="#" class="btn btn-success">Créer une nouvelle tâche</a></p>
      <p class="text-center"><a href="#" class="btn btn-info">Consulter la liste des tâches à faire</a></p>
      <p class="text-center"><a href="#" class="btn btn-secondary">Consulter la liste des tâches terminées</a></p>
    </div>
  </div>
{% endblock %}
