{% extends 'base.html.twig' %}

{% block title %}TodoList | Liste des utilisateurs{% endblock %}

{% block body %}

{% include "includes/_alerts.html.twig" %}

<div class="container">
<div class="py-3">
    <h1 class="mb-3 text-center h2">Liste des utilisateurs</h1>
    <p class="text-center mb-4 py-2">
        <a href="{{ path('app_user_create') }}" class="btn btn-success">Créer un utilisateur</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Rôle</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><a class="text-decoration-none" href="{{ path('app_user_edit', { id: user.id }) }}">{{ user.username }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>
                    {% if user.roles[0] == "ROLE_ADMIN" %}Administrateur{% else %}Utilisateur{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}
